<?xml version='1.0' encoding='utf-8'?>
<widget id="sn.esp.dgi.dic3.contactel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ContacTel</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform name="ios">
        <edit-config file="*-Info.plist" mode="merge" target="NSContactsUsageDescription">
            <string>Cette application nécessite l'accès à vos contacts pour vous permettre de les gérer et les afficher.</string>
        </edit-config>
    </platform>
</widget>
